<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
      <button onclick="vm.openForm()">open Form</button>
      <h1>{{'nilai a:' + total}}</h1>
      <h1>{{'nilai rata rata :' + rataRata }}</h1>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        a : 0,
        i: 0,
        rataRata : 0,
        total: 0
      },
      methods : {
        openForm : function(){
            this.a = prompt('masukan nilai a')  
            this.total += parseInt(this.a);
            this.i +=1 ;
            if( this.total < 10){
            this.openForm()
            }else{
                this.a = this.total,
                this.rataRata = this.a/this.i
            }
        }
      }
  })
  </script>
</body>
</html>