<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app"> 
        <form @submit.prevent="submitForm()">
            <p v-if="errors.length">
            <b>please correct the following errors :</b>
            <ul>
                <li v-for="error in errors">{{error}}</li>
            </ul>
            </p>
            <label>Nama:</label>
            <input type="text" :disabled="buttonStatus == 'upload'" name="name" ref="name" v-model="name">
            <label>No hp:</label>
            <input type="text" :disabled="buttonStatus == 'upload'" name="no_hp" ref="no_hp" v-model="no_hp">
            <label>Alamat :</label>
            <textarea name="address" :disabled="buttonStatus == 'upload'" ref="address"  v-model="address"></textarea>
            <br><br>
            <div v-if="buttonStatus == 'submit'">
                <input type="submit" value="SUBMIT">
            </div>
            <div v-else-if="buttonStatus == 'update'">
                <input type="button" value="UPDATE" @click="updateBlog(idEditBlog)">
                <input type="button" value="CANCEL" @click="clearForm" style="margin-top:5px;">
            </div>
            <div v-else-if="buttonStatus == 'upload'">
                <input type="file" name="photo_profile" ref="photo_profile">
                <input type="button" value="UPLOAD" @click="submitPhoto(idUploadBlog)"style="margin-top: 5px; margin-bottom: 5px;">
                <input type="button" value="CANCEL" @click="clearForm" style="margin-top:5px;">
            </div>
        </form>
        <table border=1>
            <tr v-for="member of members">
                <td>
                    <img width =100 :src="member.photo_profile ? photoDomain + member.photo_profile :  'https://dummyimage.com/16:9x1080' " alt="">
                </td>
                <td>
                    <b>name : </b>{{member.name}}<br>
                    <b>Alamat: </b> {{member.address}} <br>
                    <b>No Hp: </b>{{member.no_hp}}
                </td>
                <td>
                    <button @click="editBlog(member)">Edit</button>
                    <button @click="removeBlog(member.id)">Hapus</button>
                    <button @click="uploadPhoto(member)">Upload</button>
                </td>
            </tr>
        </table>
    </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        name            : '',
        no_hp           : '',
        address         : '',
        errors          : [],
        members         : [],
        photoDomain     : 'http://demo-api-vue.sanbercloud.com',
        buttonStatus    : 'submit',
        idEditBlog      : null ,
        idUploadBlog    : null
    },
    methods : {
        validationForm : function(){
            this.errors = []
            if(this.name.length <= 2 ){
                this.errors.push('nama minimal 3 karakter')
                this.$refs.name.focus()
            }

            if(this.address.length  > 30){
                this.errors.push('Alamat tidak boleh lebih dari 30 karakter')
                this.$refs.address.focus()
            }

            if(this.no_hp.length < 10){
                this.errors.push('No Hp minimal 11 Huruf')
                this.$refs.no_hp.focus()
            }
        },
        clearForm : function(){
            this.name       = ''
            this.address    = ''
            this.no_hp      = ''
        } ,
        submitForm : function(){
           this.validationForm()
            if(this.errors.length === 0){
                let formData = new FormData()
                formData.append('name' , this.name)
                formData.append('address' , this.address)
                formData.append('no_hp' , this.no_hp)

                const config = { 
                method  : "post",
                url     : "http://demo-api-vue.sanbercloud.com/api/member",
                data    :  formData
            }
            axios(config)
            .then( (response) => {
                this.clearForm()
                this.getBlogs ()
                alert(response.data.message)
            })
            .catch( (error) => {

            })
            }
        },
        getBlogs : function(){
            const config ={
                method  : 'get',
                url     : 'http://demo-api-vue.sanbercloud.com/api/member'
            }
            axios(config)
            .then( (response) => {
                this.members = response.data.members
                console.log(response.data.members)
            })
            .catch( (error) => {
                console.log(error)
            })
        },
        removeBlog : function(id){
            const config = {
                method  : "post",
                url     : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                params  : { _method : "DELETE"}
            }
            axios(config)
            .then ( (response) =>  {
            this.getBlogs()
            alert(response.data.message)
            })
            .catch( (error) => {
            console.log(error)
            })
        },
        editBlog : function(member){
            this.name           = member.name
            this.no_hp          = member.no_hp
            this.address        = member.address
            this.buttonStatus   = 'update'
            this.idEditBlog     = member.id
        },
        clearForm : function(){
        this.name           = ''
        this.no_hp          = ''
        this.address        = ''
        this.buttonStatus   = 'submit'
        this.idEditBlog     = null
        this.idUploadBlog   = null
        },
        updateBlog : function(id){
            this.validationForm()
            if(this.errors.length === 0){
                let formData = new FormData()
                formData.append('name' , this.name)
                formData.append('no_hp' , this.no_hp)
                formData.append('address' , this.address)
                
                let config = {
                    method  : 'post',
                    url     : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                    params  : { _method : 'PUT'},
                    data    : formData
                }
                axios(config)
                .then( (response) =>{
                    this.clearForm()
                    this.getBlogs()

                    alert(response.data.message)
                })
                .catch( (error) => {
                    console.log(error)
                })
            }
        },
        uploadPhoto : function(member){
            this.name           = member.name
            this.no_hp          = member.no_hp
            this.address        = member.address
            this.buttonStatus   = 'upload'
            this.idUploadBlog   = member.id
        },
        submitPhoto : function(id){
            let file = this.$refs.photo_profile.files[0]
            let formData = new FormData()
            formData.append('photo_profile' , file)
            let config = {
                method      : 'post',
                url         : `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                data        : formData
            }
            axios(config)
            .then( (response) => {
                this.clearForm()
                this.getBlogs()
                this.buttonStatus = 'submit'
                alert(response.data.message)
            })
            .catch( (error) => {
                console.log(error)
            })
        }
    },
    created(){
        this.getBlogs()
    }
  })
  </script>
</body>
</html>



