body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
h3{
    margin-left: 5px;
    color: rgb(252, 185, 71);
}
p{
    margin-left: 5px;
}
img{
    width: 250px;
    height: 350px;
    display:block;
    margin-left:40%;
    margin-top: -20%;
    border-radius: 5px;
}