<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
      <input type="text" v-model="search" placeholder="cara buku" />
      <h1>Nama Buku </h1>
     <li v-for="value in filteredBooks">
         {{value}}
     </li>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        books: [
            'Kalkulus Dasar',
            'Fisika Dasar',
            'Aljabar Linier Elementer',
            'Aljabar Abstrak',
            'Algoritma Pemrograman'
        ],
        search: ""
      },
      methods : {
       
      },
      computed: {
            filteredBooks: function(){
                return this.books.filter((value) => {
                    return value.toLowerCase().match(this.search);
                })
            }
      }
  })
  </script>
</body>
</html>